@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kommon";
  src: url("../assets/fonts/Kommon\ Grotesk/Kommon Grotesk Light.otf")
    format("opentype");
}

iframe {
  border: none;
}

body {
  background: linear-gradient(to bottom, #57575a, #000000);
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  font-family: "Kommon", sans-serif;
}

.user-name {
  margin-top: 10px;
}

/* .mdlToppings .segmentations li {
  background: url("../assets/images/sprites_new10.png") no-repeat;
  display: inline-block;
}

.mdlToppings .col {
  width: 236px;
  font-weight: normal;
  text-align: right;
  margin: 0px 33px;
}

.mdlToppings .col h3 {
  font-weight: normal;
  float: right;
  margin: 8px 0 0;
  font-size: 14px;
  width: 102px;
  text-overflow: ellipsis;
}

.mdlToppings .listRows {
  margin: 0 0 14px;
}

.mdlToppings .listRows > li {
  border-bottom: 1px solid #808080;
  padding: 0 16px 0 0;
  line-height: 0;
}

.mdlToppings .listRows > li.arrow:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.mdlToppings .segmentations {
  padding: 2px;
}

.mdlToppings .segmentations li {
  float: right;
  text-indent: -9999px;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.layer.mdlToppings .quarter li {
  text-indent: 0;
  width: 100px;
  background: none;
} */

/* 
.toppie {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fa-pizza-slice.small {
  font-size: 1.5rem;
}

.fa-pizza-slice.medium {
  font-size: 2rem;
}

.fa-pizza-slice.large {
  font-size: 2.5rem;
}

.fa-pizza-slice.extra-large {
  font-size: 3rem;
}

.fa-pizza-slice:hover {
  cursor: pointer;
  --fa-primary-color: #be7713;
  --fa-secondary-color: #ff6600;
}

.fa-pepper-hot {
  font-size: 1rem;
  --fa-primary-color: #59b332;
  --fa-secondary-color: #e30d0d;
  --fa-secondary-opacity: 1;
}

@media screen and (min-width: 767px) {
  .toppies-label {
    width: 150px;
  }

  .toppies-column {
    width: 270px;
  }

  .mdlToppings .segmentations .full {
    background-position: -983px -591px;
  }

  .mdlToppings .segmentations .lSide {
    background-position: -956px -591px;
  }

  .mdlToppings .segmentations .rSide {
    background-position: -929px -591px;
  }

  .mdlToppings .segmentations .quarter {
    background-position: -901px -591px;
    margin-right: 1px;
  }

  .mdlToppings .segmentations .full.active {
    background-position: -983px -557px;
  }

  .mdlToppings .segmentations .lSide.active {
    background-position: -956px -557px;
  }

  .mdlToppings .segmentations .rSide.active {
    background-position: -929px -557px;
  }

  .mdlToppings .segmentations .quarter.active {
    background-position: -902px -557px;
  }

  .mdlToppings .segmentations li {
    width: 24px;
    height: 25px;
  }

  .mdlToppings .segmentations .full:hover {
    background-position: -982px -629px;
  }
  .mdlToppings .segmentations .lSide:hover {
    background-position: -956px -629px;
  }
  .mdlToppings .segmentations .rSide:hover {
    background-position: -928px -629px;
  }
  .mdlToppings .segmentations .quarter:hover {
    background-position: -901px -629px;
  }
}

@media screen and (max-width: 767px) {
  .toppies-label {
    width: 30%;
  }

  .toppies-column {
    width: 50%;
  }

  .segmentations {
    width: 80px;
  }

  .mdlToppings .segmentations .full {
    background-position: -420px -337px;
  }

  .mdlToppings .segmentations .lSide {
    background-position: -358px -337px;
  }

  .mdlToppings .segmentations .rSide {
    background-position: -389px -337px;
  }

  .mdlToppings .segmentations .quarter {
    background-position: -328px -337px;
  }

  .mdlToppings .segmentations .full.active {
    background-position: -420px -405px;
  }

  .mdlToppings .segmentations .lSide.active {
    background-position: -358px -405px;
  }

  .mdlToppings .segmentations .rSide.active {
    background-position: -389px -405px;
  }

  .mdlToppings .segmentations .quarter.active {
    background-position: -328px -405px;
  }
} */

/* @media screen and (min-width: 767px) {
  .toppies-column {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .toppies-column {
    width: 50%;
  }
}
 */
