.toppies {
  display: flex;
}

.toppies-column {
  margin-top: 2px;
  margin-left: 2px;
}

@media screen and (min-width: 767px) {
  .toppies-column {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .toppies-column {
    width: 50%;
  }
}
